*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
}

img,
svg,
video,
picture {
  display: block;
  max-width: 100%;
}

input,
select,
button,
textarea {
  font: inherit;
}

li {
  list-style-type: none;
}