*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
}

img,
svg,
video,
picture {
  display: block;
  max-height: 75px;
}

input,
select,
button,
textarea {
  font: inherit;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 1.75rem;

}

h2 {
  font-size: 1.2rem;

}

h3 {
  font-size: .9rem;
}