:root {
  --main-bg-color: #ffedd5;
  --accent-color: #fb923c;
  --primary-bg-color: white;
  --primary-text-color: black;
  --inverse-text-color: white;
  --paragraph-text-color: #cbd5e1;

}

body {}

.container {
  min-height: 100%;
  background-color: pink;
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 125px;
}

.container>* {
  border: 1px solid purple;
}

/* Header */

.header {
  grid-column: 2;
  background-color: lightblue;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 1rem 1.5rem;
}

.header .header-top-row>*,
.header .header-bottom-row>* {
  border: 1px solid maroon;
}

.header .header-top-row {
  display: grid;
  grid-auto-flow: column;
}

.header .header-bottom-row {
  display: grid;
  grid-auto-flow: column;
}

.header img {
  width: 20px;
}

/* Sidebar */

.sidebar {
  grid-row: 1/3;
  display: grid;
  padding: 1rem 1rem;
  background-color: var(--accent-color);
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: 2.5rem;
}

.sidebar>* {
  border: 1px solid blue;
}

.sidebar img:not(.logo) {
  width: 30px;
}

.sidebar h2 {
  color: var(--inverse-text-color)
}

.logo-section {
  display: grid;
  grid-template-columns: auto 1fr;
}

.logo {
  width: 75px;

}

.logo-title {
  align-self: center;
}

.user-section {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: max-content;
  gap: 0 1rem;
}

.settings-section {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: max-content;
  gap: 0 1rem;
}





/* Main section */

.main {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--main-bg-color);
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 300px);
  padding: 1rem;
  gap: 1rem;
}

.main .main-grid-container {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(3, minmax(200px, 500px));
  justify-content: center;
  gap: 1.5rem;
  grid-auto-flow: row;
  border: 1px solid black;
}

.main-grid-container>* {
  border: 1px solid red;
}

.main-side {
  background-color: var(--main-bg-color);
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card-title-announcement {
  grid-column: 3;
}

.card-title-trending {
  grid-row: 2;
}

.card-title-projects {
  grid-column: 1 / span 2;
  grid-row: 1;
  ;
}

.card {
  border-left: 8px solid orange;
  border-radius: 5px;
}


.card-announcement {
  padding: 1.5rem;

}

.card-announcement-1 {
  border-bottom: 1px solid black;
}

.card-announcement-2 {
  border-bottom: 1px solid black;
}

.card-trending {}

/* main section - Styles */

.main .card-title-trending {
  background-color: var(--main-bg-color);
}

.--card-bg-color {
  background-color: white;
}

.--card-anouncement-title {
  font-weight: bold;
}